
@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>
@if (string.IsNullOrEmpty(Context.Session.GetString("User")))
{
    <h3>You have been successfully Logged out and the session has been cleared!</h3>
}
else
{
    <h3>session exit.</h3>
}


